﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="505.aspx.vb" Inherits="School._404" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>505:HTTP version not supported</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function redirectToHome() {
            var parentUrl = window.location.origin + '/Default.aspx';
            window.location.href = parentUrl;
        }
    </script>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>5<span>0</span>5</h1>
			</div>
			<p>Indicates that the requested HTTP version is not supported by the server.</p>
			<a href="#" onclick="return redirectToHome();" >home page</a>
		</div>
	</div>

</body>
</html>
